body {
    margin: 0;
    padding: 0;
    font-family: 'Source Han Sans TC', sans-serif;
    margin-bottom: 55px;
    font-size: 100%; /* 確保字體比例正常 */
}

.tabs-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px); /* 添加模糊效果 */
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 18px;
    color: #272734;
}

.tabs {
    display: flex;
    justify-content: flex-start;
    padding: 10px 20px;
    gap: 10px;
    padding-left: 20px;
}

.tab-links {
    font-weight: bold;
    padding: 5px 10px;
    background: linear-gradient(to bottom, #f0f0f0, #cee1fd);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.tab-links.active {
    background: linear-gradient(to bottom, #5f95dc, #3472c3);
    color: #fff;
    border: 0;
}

.content {
    margin-top: 50px;
}

.tab {
    display: none;
    padding: 10px;
}

.tab.active {
    display: block;
}

.import-export-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 5px 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
    gap: 10px;
    margin-left: 5px;
}

.import-export-buttons button {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
    background: radial-gradient(ellipse, #f0f0f0, #cee1fd);
    font-size: 16px;
    height: 30px;
    color: #50648c;
    font-weight: bold;
}

.import-export-buttons button:hover {
    transform: scale(1.05); /* 微放大效果 */
}

.import-export-buttons button:active {
    transform: scale(0.97); /* 按下時縮小效果 */
}

.add-buttons {
    position: sticky !important; /* 保持在滾動過程中固定 */
    left: 0;
    margin-right: 30px;
}

.add-buttons button,
.add-buttons label {
    font-size: 16px;
    color: #50648c;
    font-weight: bold;
}

.add-buttons button {
    margin-bottom: 10px;
    margin-left: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 2px solid #ccc;
    cursor: pointer;
    background: linear-gradient(to bottom, #f0f0f0, #c2d6f8);
}

.add-buttons button:hover {
    background-color: #97b3eb;
    color: #333;
}

.item-header {
    text-align: center;
    background: linear-gradient(to bottom, #f0f0f0, #aecdfd);
    border-radius: 5px;
    border: 1px solid #97b3eb;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    font-weight: bold;
    color: #50648c;
}

.header-section {
    border: 1px solid #9e9e9e;
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.header-group {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #50648c;
}

.header-group label {
    width: 120px;
    margin-bottom: 0;
    background: linear-gradient(to left, #f0f0f0, #c7daf8);
    padding: 5px;
    text-align: left;
    border-radius: 5px;
}

.header-group input,
.header-group select,
.header-group textarea {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px; /* 確保所有輸入框和文字區域的字型大小一致 */
}

#bonded .header-group label {
    width: 170px;
}

.form-group .remove-item {
    background: linear-gradient(to bottom, #f0f0f0, #d5d5d5);
    border: 1px solid #9e9e9e;
}

#item-modal,
#adjust-order-modal,
#specify-field-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    align-items: center;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1002;
}

.modal-content {
    position: relative;
    background-color: #efefef;
    padding: 10px;
    border-radius: 5px;
    min-height: 30%;
    max-height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    border: 2px solid #ccc;
    width: 500px;
    resize: both;
    overflow: auto;
}

#item-modal .modal-content {
    width: 800px;
    pointer-events: auto; /* 只允許模態框內容點擊 */
}

#adjust-order-modal .modal-content {
    width: 1000px;
    background: linear-gradient(to left, #f0f0f0, #c7daf8);
}

#item-modal h2,
#adjust-order-modal h2,
#specify-field-modal h2,
#toggle-fields-modal h2{
    margin-top: 0px; /* 縮小上方間距 */
    margin-bottom: 0px; /* 縮小下方間距 */
    text-align: left; /* 標題靠左對齊 */
}

#adjust-order-modal h4{
    margin-top: 0px; /* 縮小上方間距 */
    margin-bottom: 10px; /* 縮小下方間距 */
    text-align: left; /* 標題靠左對齊 */
}

#adjust-order-modal .modal-header {
    background: linear-gradient(to left, #f0f0f0, #c7daf8);
    padding: 10px;
    border-radius: 5px 5px 0 0;
    color: #333;
    font-size: 1em;
}

#specify-field-modal .modal-content {
    max-height: 95%;
}

#specify-field-modal .header-group label {
    width: 170px;
}

#specify-field-modal .header-group input,
#specify-field-modal .header-group select,
#specify-field-modal .header-group textarea {
    flex: 1;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px; /* 確保所有輸入框和文字區域的字型大小一致 */
}

.modal-header {
    cursor: move;
    background-color: #efefef;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.order-list {
    display: flex;
    flex-direction: column;
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    cursor: move;
    padding: 0px; /* 可根據需要減小 padding 值 */
}

.order-item span {
    flex: 1;
    cursor: pointer;
}

.floating-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1002;
    display: flex;
    gap: 10px;
}

.item-row {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    flex: 1;
}

.item-row .form-group:last-child {
    margin-right: 0;
}

.item-row .form-group.fix {
    flex: none;
    width: 24px;
    text-align: center;
    margin-left: 5px;
}

.form-group.fix {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    align-items: start;
}

.item-row label,
.item-row input,
.item-row textarea {
    width: 100%;
    box-sizing: border-box;
    font-size: 16px; /* 確保所有輸入框和文字區域的字型大小一致 */
}

textarea {
    resize: none;
    line-height: 20px;
}

.flex-group {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.flex-group input[type="checkbox"] {
    margin-right: 5px;
}

.flex-group label {
    margin-right: 20px;
}

/* 刪除按鈕的基本樣式 */
.delete-button,
.delete-item-btn {
    display: inline-block;
    padding: 3px 6px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
    background-color: #f37380; /* 原始背景顏色 */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* 滑鼠懸停時的效果 */
.delete-button:hover,
.delete-item-btn:hover {
    background-color: #c82333; /* 懸停時顏色加深 */
}

h4 {
    color: #0000b7;
}

.hidden {
    display: none;
}

#toggle-fields-modal .modal-content {
    width: 600px;
}

#toggle-fields-modal .header-group label {
    width: 200px;
}

#field-select {
    width: 100%;
    height: 600px;
    box-sizing: border-box;
    padding: 5px;
    border-radius: 5px;
    overflow-y: auto;
}

.header-group input {
    font-size: 16px;
}

#start-number {
    width: 50px;
    padding: 2px 5px;
    font-size: 14px;
    height: 20px;
    line-height: 1.2;
    margin-bottom: 5px;
}

#start-number-container label {
    margin-right: 10px;
}

#source-item-number,
#COPY_ITEM {
    width: 200px;
}

.net-wt-container {
    display: flex;
    align-items: center;
}

.net-wt-container input[type="checkbox"] {
    margin-left: 5px; /* 可調整間距 */
}

.actions {
    display: flex;
    align-items: center;
}

.actions .delete-button {
    margin-left: 10px; /* 可調整間距 */
}

/* 隱藏數字輸入框的上下調整鍵 */
input[type=number] {
    -webkit-appearance: none;
    -moz-appearance: textfield; /* 移除錯誤的屬性 */
    appearance: none;
    margin: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]::-moz-appearance {
    appearance: none;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: left;
}
.clickable {
    cursor: pointer;
    color: blue;
}
.clickable:hover {
    text-decoration: underline;
}

.taxmodal {
    display: none;
    position: fixed;
    z-index: 1002;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.taxmodal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 85%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.highlight-row {
    background-color: #aecefda7; /* 淡藍色 */
}

/* 只應用於出口報單項次的標籤頁內容 */
#items.fixed-width {
    width: 1700px; /* 固定頁面的寬度 */
    margin: 0 auto;
}

#items {
    padding-top: 10px; /* 空出上方的空間 */
}

.fixed-top {
    position: sticky;
    top: 0;
    background-color: white; /* 確保背景色一致 */
    z-index: 1000; /* 固定欄位標題 */
}

/* 固定左側項次編號及標題 */
.item-no,
.item-no-header {
    position: sticky;
    left: 0;
    width: 40px !important;  /* 強制設定寬度 */
    max-width: 40px !important; /* 限制最大寬度 */
    min-width: 40px !important; /* 限制最小寬度 */
    margin-left: 0 !important;
    padding-left: 0 !important;
    background-color: white; /* 確保背景色一致 */
    border-radius: 0 10px 10px 0; /* 右側圓角 */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3); /* 右側陰影 */
}

.item-no-header label{
    cursor: pointer
}

/* 選中狀態的項次左側編號變色 */
.item-no.selected {
    background-color: #ffeb3b; /* 設置為黃色 */
}

/* 稅則彈跳框反色效果 */
tr.selected {
    background-color: #aecefda7; /* 淡藍色 */
}

/* 浮動按鈕容器 */
.scroll-container {
    position: fixed;
    top: 5px;
    right: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 1001;
}

/* 淡藍色背景的浮動按鈕樣式 */
.scroll-btn {
    width: 20px;
    height: 20px;
    background-color: #87CEEB;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px; /* 根據需要調整字體大小 */
    line-height: 30px; /* 與按鈕高度相同 */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    transition: opacity 0.3s, background-color 0.3s;
}

/* 上箭頭文字靠上 */
.scroll-btn.up {
    align-items: center; /* 垂直罝中 */
    line-height: 1; /* 確保行距不影響 */
    padding-bottom: 4px; /* 根據需要調整間距 */
}

/* 下箭頭文字靠下 */
.scroll-btn.down {
    align-items: center; /* 垂直罝中 */
    line-height: 1; /* 確保行距不影響 */
    padding-top: 4px; /* 根據需要調整間距 */    
}

/* 添加懸停效果 */
.scroll-btn:hover {
    opacity: 1;
    background-color: #00BFFF;
    transform: scale(1.4); /* 放大效果 */
}

/* 設定所有input元素的placeholder字體顏色 */
input::placeholder {
    color: #005feec5;
}

.convert-file {
    font-weight: bold;
    padding: 5px 10px;
    background: linear-gradient(to bottom, #f0f0f0, #cee1fd);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #414141;
    transition: color 0.3s ease, background-color 0.3s ease; /* 添加過渡效果 */
}

.convert-file:hover {
    color: #005feec5;
    background: linear-gradient(to bottom, #cee1fd, #f0f0f0);
}

input[type="checkbox"]:hover {
    cursor: pointer; /* 鼠標懸停時顯示手形 */
}

.reminder-message {
    display: flex;
    font-size: 16px; /* 設置字體大小 */
    font-weight: bold; /* 設置文字加粗 */
    padding: 10px; /* 添加內部邊距 */
    border-radius: 5px; /* 使背景邊角圓滑 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* 添加輕微陰影以增加立體感 */
    margin-top: 10px; /* 與上方元素保持一定距離 */
    line-height: 1.6; /* 調整行距，使文字更加易讀 */
}

.reminder-message-red {
    color: rgba(255, 0, 0, 0.634); /* 設置字體顏色，與現有的內聯樣式相同 */
    background-color: #fef5f5; /* 添加背景色以便提示訊息更加醒目 */
    border: 1px solid #f5c2c2; /* 為訊息區域添加紅色邊框 */
}

.reminder-message-blue {
    color: rgba(0, 0, 255, 0.634); /* 將字體顏色設為藍色 */
    background-color: #f0f8ff; /* 使用淡藍色背景 */
    border: 1px solid #add8e6; /* 為訊息區域添加淺藍色邊框 */
}

.vertical-text {
    writing-mode: vertical-lr; /* 垂直排列，從上到下 */
    text-orientation: upright; /* 文字直立方向 */
    display: flex; /* 使用 Flexbox 以便調整對齊 */
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    width: 24px;
}

.button-group button,
#summarizeButton {
    margin-top: 2px;
    margin-bottom: 2px;
    position: relative;
}

.button-group button::after,
#summarizeButton::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.1s;
}

.button-group button:hover::after,
#summarizeButton:hover::after {
    opacity: 1;
}

.input-hint {
    color: rgba(255, 0, 0, 0.634);
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    pointer-events: none; /* 防止阻擋 TAB 功能 */
}

.search-results {
    position: absolute;
    top: 100%; /* 放在輸入框下方 */
    left: 0;
    border: 1px solid #ccc;
    max-height: 300px;
    overflow-y: auto;
    background: #fff;
    z-index: 1000;
    display: none; /* 預設隱藏 */
    width: calc(100% - 2px); /* 與輸入框寬度一致 */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.search-results div {
    padding: 8px;
    cursor: pointer;
    font-size: 14px;
}

.search-results div:hover {
    background-color: #f0f0f0;
}

.header-group:focus-within label {
    color: black;
    font-weight: bold; /* 可選：加粗文字 */
}

/* 取消 autofill 反色 */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: transparent !important; /* 背景色透明 */
    box-shadow: 0 0 0px 1000px white inset !important; /* 覆蓋 autofill 背景 */
    -webkit-text-fill-color: inherit !important; /* 保持文字顏色 */
    transition: background-color 5000s ease-in-out 0s; /* 防止閃爍 */
}

.error {
    background-color: #ffeb3b; /* 黃色背景 */
}

/* 外層容器樣式 */
.container {
    display: flex;
    align-items: center;
    gap: 20px; /* 控制 add-buttons 和 shortcut-help-block 間距 */
}

/* 快捷鍵說明獨立區塊 */
.shortcut-help-block {
    margin-left: auto; /* 將快捷鍵區塊推到最右側 */
    display: inline-block; /* 確保它是內聯塊狀，適配內容 */
    position: sticky;
    right: 35px;
    margin-bottom: 5px;
    cursor: help; /* 問號指標 */
    font-size: 12px; /* 與彈跳框文字大小一致 */
    color: #50648c;
    white-space: nowrap; /* 防止文字換行 */
    background-color: #fdfdfd; /* 純白背景，與彈跳框一致 */
    padding: 1px 3px; /* 上下內邊距1px，左右內邊距3px */
    border-radius: 5px; /* 圓角與彈跳框一致 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* 添加輕微陰影 */
}

/* 快捷鍵彈跳框樣式 */
.shortcut-help-modal {
    display: none; /* 初始狀態隱藏 */
    position: fixed; /* 固定在視窗中 */
    top: 50%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 偏移自身寬高一半實現精確居中 */
    background: #fdfdfd; /* 純白背景 */
    border: 1px solid #d3d3d3; /* 淺灰色邊框 */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 輕微陰影 */
    z-index: 1000;
    width: 360px;
    font-size: 13px;
    line-height: 1.6;
    color: #50648c;
}

/* 滑鼠移入時顯示彈跳框 */
.shortcut-help-block:hover .shortcut-help-modal {
    display: block; /* 顯示彈跳框 */
}

/* 標題樣式 */
.shortcut-help-modal h3 {
    margin-top: 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #50648c;
}

/* 快捷鍵清單樣式 */
.shortcut-help-modal ul {
    padding-left: 20px;
    margin: 0;
    list-style-type: disc;
    color: #50648c;
}

/* 快捷鍵項目樣式 */
.shortcut-help-modal li {
    margin-bottom: 5px;
    color: #50648c;
    font-size: 13px; /* 保持與彈跳框內容一致的字體大小 */
}

/* 攤重彈跳框樣式 */
#spread-weight-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 確保彈跳框居中 */
    width: 200px; /* 固定寬度 */
    max-width: 90%; /* 最大寬度，防止超出畫面 */
    margin: auto;
    padding: 20px;
    background: radial-gradient(ellipse, rgb(225, 236, 254), rgb(237, 243, 254));
    border: 1px solid #ccc;
    z-index: 1001;
    cursor: move;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* 防止內容溢出 */
}

#spread-weight-modal #modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: move;
    padding: 0px;
    border-bottom: 1px solid #ccc;
    position: relative;
}

#drag-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 999;
}

#modal-header div {
    display: flex;
    gap: 5px;
    margin-left: auto; /* 按鈕靠右 */
}

/* 增加 optgroup 內的選項縮排 */
optgroup option {
    padding-left: 34px;
}

/* 隔離 optgroup 的標籤樣式 */
optgroup[label] {
    color: #333;
}

/* 分隔線的樣式 */
option.separator {
    background-color: #f0f0f0;
    color: #7c7c7c;
    pointer-events: none; /* 禁止選中 */
    text-align: center;
}

/* 當前獲得焦點的元素反色 */
.highlighted-element {
    border: 2px solid #005feec5 !important; /* 焦點邊框 */
}

/* 通用樣式，適用於輸入框和按鈕 */
input:focus, 
textarea:focus, 
select:focus, 
button:focus {
    outline: none; /* 移除預設的瀏覽器外框 */
    border: 2px solid #005feec5 !important; /* 獲得焦點時的藍色邊框 */
}

input,
textarea,
select{
    border: 2px solid #e5e5e5;
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Source Han Sans TC', sans-serif; /* 確保字型一致 */
    padding: 0 2px; /* 上下0px，左右2px */
}

button {
    border: 2px solid #ccc;
    font-size: 16px;
    border-radius: 4px;
    font-family: 'Source Han Sans TC', sans-serif; /* 確保字型一致 */
}

.highlight-ccc {
    background-color: #ffeb3b; /* 黃色背景 */
}

.input-error {
    position: absolute;
    right: 110px;
    top: 5px;
    color: rgba(255, 0, 0, 0.8);
    background-color: #fff;
    padding: 2px 6px;
    font-size: 12px;
    border: 1px solid rgba(255, 0, 0, 0.5);
    border-radius: 4px;
    display: none;
    z-index: 1000;
    white-space: nowrap;
}

#general-warehouse:checked + span {
    color: red;
}
